body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main-video {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.main-video iframe {
    width: 95%;
    height: 95%;
    border: none;
}

.channel-list {
    flex: 1;
    background-color: #fff;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.channel-list h2 {
    margin: 0;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.channel-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.channel-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.channel-list li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.channel-list li:hover {
    background-color: #007bff;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-video {
        flex: none;
        height: 60vh;
    }

    .channel-list {
        flex: none;
        height: 40vh;
    }

    .channel-list ul {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    .channel-list li {
        flex: 1;
        text-align: center;
        flex-direction: column;
    }

    .channel-list li img {
        margin: 0 0 10px 0;
    }
}
