body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.live-stream-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: relative;
}

#liveStreamVideo,
#liveStreamIframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Hidden by default */
}

.channel-list {
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent white */
    width: 250px; /* Adjust width as needed */
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.channel-list input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.channel-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.channel-list li {
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background-color: #444; /* Darker background for list items */
    border-radius: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.channel-list li:hover,
.channel-list li.active {
    background-color: #666; /* Slightly lighter on hover */
}

/* Full-screen overlay for the reminder */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
    display: none; /* Hidden by default */
    z-index: 1000; /* Make sure it's above other content */
}

/* Pop-up reminder styling */
.reminder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none; /* Hidden by default */
    z-index: 1001; /* Make sure it's above the overlay */
}

.reminder .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
