body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 50px;
}

/* Circular Timer Styles */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Make the timer text bold */
#timer strong {
  font-weight: bold;
}
