body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 80%;
}

#video {
    flex: 3;
    margin-right: 20px;
}

.channel-list {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

#searchBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Reduced margin-bottom */
    border-radius: 5px;
    border: none;
}

.channel-list ul {
    list-style: none;
    padding: 0;
}

.channel-list li {
    padding: 8px; /* Reduced padding */
    margin-bottom: 5px; /* Reduced margin-bottom */
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}

.channel-list li:hover,
.channel-list li.active {
    background-color: #666;
}

.reminder {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.reminder .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
